* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100%;
}

header {
  color: #000;
  text-align: center;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  background-color: #bee7b8;
  align-items: center;
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  border-radius: 2rem;
  padding: 2.5rem;
  overflow: auto;
}

.todo-input {
  display: flex;
  justify-content: center;
  height: 2rem;
  margin-bottom: 1.5rem;
}

.todo-input input {
  width: 80%;
  padding-left: 0.75rem;
  outline: none;
  border-radius: 8px;
  border: none;
}

#input-btn {
  height: 100%;
  width: 2.5rem;
  border: none;
  outline: none;
  background-color: #bee7b8;
  color: #000;
  border-radius: 8px;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
  right: 0.5rem;
}

.todo-input button:hover {
  background-color: #fff;
  color: lightskyblue;
}

.todo-list {
  max-height: 250px;
}

.todoDiv {
  display: flex;
  position: relative;
  left: 2%;
}

.todo {
  height: 2rem;
  width: 17rem;
  line-height: 30px;
  list-style: none;
  margin-bottom: 0.5rem;
  border-radius: 6px 0px 0px 6px;
  position: relative;
  background-color: white;
  padding: 0px 10px;
  cursor: pointer;
  overflow: hidden;
}

.delete {
  position: relative;
  background-color: #bee7b8;
  color: #000;
  height: 2rem;
  width: 2.5rem;
  text-align: center;
  border-radius: 0 6px 6px 0;
  border: solid 1.5px black;
  cursor: pointer;
  float: right;
  right: 1.2rem;
  outline: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

@media (min-width: 280px) {
  .wrapper {
    width: 15rem;
  }
  .todo {
    font-size: 0.7rem;
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  .wrapper {
    height: 50vh;
    width: 80vw;
  }
  .todo {
    font-size: 0.5rem;
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  .wrapper {
    height: 50vh;
    width: 80vw;
  }
  .todo {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    height: 60vh;
    width: 60vw;
  }
  .todo {
    font-size: 1rem;
  }
}
